@charset "utf-8";

/* webfont */

@font-face {
    font-family: 'Noto Sans Thin';
    font-weight: normal !important;
    src: local(☺),
    url('NotoSansKR-Thin.woff') format('woff'),
    url('NotoSansKR-Thin.woff2') format('truetype'),
    url('NotoSansKR-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans Light';
    font-weight: normal !important;
    src: local(☺),
    url('NotoSansKR-Light.woff') format('woff'),
    url('NotoSansKR-Light.woff2') format('truetype'),
    url('NotoSansKR-Light.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans DemiLight';
    font-weight: normal !important;
    src: local("☺"),
    url('NotoSansKR-DemiLight.woff') format('woff'),
    url('NotoSansKR-DemiLight.woff2') format('truetype'),
    url('NotoSansKR-DemiLight.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans Regular';
    font-weight: normal !important;
    src: local("☺"),
    url('NotoSansKR-Regular.woff') format('woff'),
    url('NotoSansKR-Regular.woff2') format('truetype'),
    url('NotoSansKR-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans Medium';
    font-weight: normal !important;
    src: local("☺"),
    url('NotoSansKR-Medium.woff') format('woff'),
    url('NotoSansKR-Medium.woff2') format('truetype'),
    url('NotoSansKR-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans Bold';
    font-weight: normal !important;
    src: local("☺"),
    url('NotoSansKR-Bold.woff') format('woff'),
    url('NotoSansKR-Bold.woff2') format('truetype'),
    url('NotoSansKR-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans Black';
    font-weight: normal !important;
    src: local("☺"),
    url('NotoSansKR-Black.woff') format('woff'),
    url('NotoSansKR-Black.woff2') format('truetype'),
    url('NotoSansKR-Black.otf') format('opentype');
}