
.sub-title {
  position: absolute;
  width: auto;
  height: 64px;
  left: 50%;
  top: 50%;
  z-index: 10;
  transform-origin: 0%;
  transform: rotate(-90deg) translateX(-288px) translateY(-782px);
  /*transform: rotate(-90deg) translateX(-268px) translateY(-410px);*/
}

.display-1,
.headline,
.caption {
  padding: 0px;
}

.title-top {
  position: relative;
  display: inline-block;
  color: #1e9cd9;
}

.title-top:before {
  /*transition: all 320ms cubic-bezier(0.25, 0.8, 0.5, 1);*/
  background-color: #ffffff;

  transition-property: left, width;
  transition-duration: 0.2s, 0.4s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1),
    cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.title-des {
  position: relative;
  display: block;
  color: #363636;
  height: 20px;
  text-decoration: none !important;
  margin-top: 2px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #0277bd;
  color: #fff;
}

.title-des:before {
  /*transition: all 400ms cubic-bezier(0.25, 0.8, 0.5, 1);*/
  background-color: #0277bd;
  transition-property: left, width;
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94),
    cubic-bezier(0.215, 0.61, 0.355, 1);
}

.title-top:before,
.title-des:before {
  content: attr(data-title);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  z-index: 1;

  width: 0%;

  overflow: hidden;
  color: transparent;
}

.sub-title.active .title-top:before,
.sub-title.active .title-des:before {
  width: 100%;
}

.Landing .hide {
  display: block;
}

.hide {
  display: none;
}